@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--input-placeholder-color) !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--input-placeholder-color) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--input-placeholder-color) !important;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="color"],
input[type="range"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  @apply font-normal text-input-default py-2.5 px-4  rounded-lg bg-input-background-color outline-none transition-colors duration-100 ease-in-out
   border border-solid border-input-border-color box-border w-full;
   text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: var(--app-text-direction);
  &.error {
    @apply border-red-light;
  }

  &.success {
    @apply border-green-light;
  }

  &:focus {
    @apply border-input-focus-border-color;
  }

  &[class^="icon-"],
  &[class*=" icon-"] {
    @apply pr-8;
  }

  + .icon {
    @apply text-icon-default absolute p-2.5 bottom-2.5 pl-2 text-gray-600;
  }

  &:after {
    @apply absolute text-black;
    content: '';
  }

}

input:disabled, textarea:disabled, .disabled{
  @apply cursor-not-allowed border-input-background-color;
}

.input-container {
  @apply w-full relative flex items-center;
  .phone-input{
    @apply rounded-l-none;
  }
}

.input-separator {
  @apply absolute my-0 mx-10 bg-vertical-seperator-color h-4;
  width: 1px;
}

.input-icon {
  @apply absolute my-0 mx-3 text-icon-default text-icon-color;
}

.input-unit{
  @apply absolute text-sm left-10;
}

textarea {
  @apply resize-y;
}

.label {
  text-align: var(--app-text-direction);
  @apply text-input-label-color text-input-label-color pb-2 block;
}

.sub-label {
  @apply text-input-sub-label-color text-input-sub-label pb-2 block;
}

.form-group {
  @apply mt-8 relative;

}

.help {
  @apply w-full text-xs;

  &.error{
    @apply text-red-light;
  }

  &:not(.error) {
    @apply text-gray-700;
  }
}

.localization-rtl{
  .input-with-icon {
    @apply pr-12;
  }
  .form-group {

    + .btn {
      @apply mr-2.5;
    }

  }

}

.localization-ltr{
  .input-with-icon {
    @apply pl-12;
  }

  .form-group {

    + .btn {
      @apply ml-2.5;
    }

  }

}

//date picker
.vpd-content {
  background-color: var(--datepicker-background-color) !important;
 
}

.vpd-actions {
  button {
    border-radius: var(--input-border-Radius-size);
  }
  button:hover {
    background-color: var(--secondary-color) !important;
  }
}

.vpd-header {
  background-color: var(--secondary-color) !important;
  span {
    color: var(--white-color) !important;
  }
}

.vpd-day {

  &.selected {

    .vpd-day-effect {
      background-color: var(--secondary-color) !important;
    }

    .vpd-day-text {
      color: var(--white-color) !important;
    }

  }

}
.vpd-time .vpd-time-h, .vpd-time .vpd-time-m {
  text-align: center !important;
  color: #a2a2a2;
  // font-family: sans-serif;
}
.vpd-time{
  text-align: center;
  span{
    font-size: 90px;
  }
}


.vpd-actions button {
  font-family: var(--font-family);
}
