@import 'transitions';
@import '_form';
@import '_shimmer';

@layer base {
    h3 {
        @apply block text-lg font-bold my-4;
    }

    p{
        @apply block my-4 leading-relaxed;
    }
}

body{
    @apply  font-dana;
    direction: var(--app-direction);
    overflow: hidden;
}
a,
li,
p,
span {
    @apply text-base text-gray-800;
}

//scroll
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    @apply rounded-l-lg bg-scrollbar-track-color;
}
/* Handle */
::-webkit-scrollbar-thumb {
    @apply rounded-l-lg bg-scrollbar-thumb-color;
    &:hover {
        @apply bg-scrollbar-thumb-color;
    }
}
