
.ku-fade-tab-enter-active, .ku-fade-tab-leave-active {
  transition: opacity 0.5s;
}
.ku-fade-tab-enter, .ku-fade-tab-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  max-height: 0 !important;
  border: none !important;
  overflow: hidden;
}

.ku-fade-enter-active, .ku-fade-leave-active {
  transition: opacity .5s
}
.ku-fade-enter, .ku-fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.ku-fadeHeight-enter-active,
.ku-fadeHeight-leave-active {
  transition: all 0.2s;
  max-height: 500px;
}
.ku-fadeHeight-enter,
.ku-fadeHeight-leave-to
{
  opacity: 0;
  max-height: 0;
}


