.theme-dark {
  // colors
  --primary-color: #F07F18;
  --primary-dark-color: #DE6B01;
  --secondary-color: #ffffff;
  --secondary-dark-color: #ffffff;
  --kgreen-color: #1CBFAD;
  --kgreen-dark-color: #15AD9C;
  --kred-color: #FF645D;
  --kred-dark-color: #E65953;
  --kyellow-color: #ffba54;
  --kyellow-dark-color: #fdb74d;
  --kpruple-color: #8c77f1;
  --kpruple-dark-color: #826cf6;
  --kblue-color: #2DA2D6;
  --kblue-dark-color: #0489C4;
  --kblack-color: #1b1c1f;
  --kwhite-color: #fff;
  --kgray-100-color: #101010;
  --kgray-200-color: #3E3E3E;
  --kgray-300-color: #686868;
  --kgray-400-color: #969696;
  --kgray-500-color: #BBBABA;
  --kgray-600-color: #E0E0E0;
  --kgray-700-color: #EFEFEF;
  --kgray-800-color: #FAFAFA;
  --kgray-900-color: #FDFDFD;

  // backgrounds
  --background-color: #2f3133;
  --foreground-color: #cfced9;
  --header-background-color: #37393d;
  --overlay-background-color: #4f4f50;
  --dropdown-info-background-color:#545558;

  // buttons
  --btn-default-background-color: #676a6d;
  --btn-default-background-hover-color: #606367;
  --btn-default-forground-color: #fffaf3;

  // side menu
  --sidemenu-background-color: #37393d;
  --sidemenu-expend-background-color: transparent;
  --sidemenu-hover-background-color: #47494c;
  --sidemenu-active-border-color: #F07F18;
  --sidemenu-expend-seperator-color: transparent;
  --sidemenu-expend-right-border-color: #BBBABA;
  --sidemenu-icon-color: #a5abb5;
  --sidemenu--active-icon-color: #eae2e2;

  // inputs
  --input-placeholder-color: #eceaea;
  --input-value-color: #eceaea;

  --input-border-color: #eceaea;
  --input-label-color: #d2cdcd;
  --input-text-color: #67758d;
  --input-background-color: #cfced912;
  --input-dropdown-background-color: #cfced9;


  // seperators
  --hr-color: #cbcbcb;
  --vertical-seperator-color: #cbcbcb;
  --horizontal-seperator-color: #484545;

  // borders
  --default-border-color: #37393d;
  --border-color: #37393d;

  // icons
  --icon-color: #969696;
  --icon-active-color: #3E3E3E;

  // texts
  --title-color: #d2cdcd;
  --sub-title-color: #a0a0a0;
  --description-color: #7b7979;

  // data-holder
  --table-header-background-color: #4f4f50a3;
  --table-header-forground-color: #424242;
  --table-row-background-color: #4f4f50;
  --table-row-hover-background-color: #4f4f5045;
  --table-row-forground-color: #cfcfd1;
  --table-footer-background-color: transparent;
  --table-odd-background-color: #4f4f5045;
  --table-even-background-color: transparent;

  // boxes
  --box-background-color: #37393d;
  --box-shadow-color: rgba(0, 0, 0, 0);
  --box-border-radius-size: 7px;
  --box-border-color: #484545;

  // scrollbar
  --scrollbar-track-color: #484545;
  --scrollbar-thumb-color: #484545;

  // select-box
  --selectbox-background-color: #4f4f50;

  // dropdown
  --dropdown-background-color: #46494c;
  --dropdown-border-color: transparent;
  --dropdown-triangle-color: #46494c;
  --select-dropdown-background-color:#1d1f22;

  // datepicker
  --datepicker-background-color: #272B33;

  // shimmer
  --shimmer-bg-color: #363a3d;

  // loader components

  $shimmer-color-1: #414445;
  $shimmer-color-2: #363a3d;

  .loader-box {
    position: relative;
    display: block;

    .loader-img {

    }

    .loader-animation {
      min-width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute !important;
      top: 0;
      right: 0;
      left: 0;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeholderShimmer;
      animation-timing-function: linear;
      background: var(--shimmer-bg-color);
      background-image: -webkit-gradient(linear, 100% 0, 0 0, from(rgba($shimmer-color-2, .3)), color-stop(0.3, rgba($shimmer-color-1, .5)), to(rgba($shimmer-color-2, .3)));
      //background-image: linear-gradient(65deg ,rgba($gray, .2) 0%, rgba($white, .4) 20%, rgba($gray, .2) 100%);
      background-repeat: no-repeat;
      background-size: 100%;
    }

    @keyframes placeholderShimmer {
      0% {
        background-position: -2000px 0;
      }
      100% {
        background-position: 2000px 0;
      }
    }

  }

  .empty-placeholder-image {
  }
  .empty-placeholder-title {
  }
  .empty-placeholder-description {
    margin-top: -8px;
  }

}
