.theme-light {
  --primary-color: #f07f18;
  --primary-dark-color: #de6b01;
  --secondary-color: #244563;
  --secondary-dark-color: #1e3a53;
  --kgreen-color: #1cbfad;
  --kgreen-dark-color: #15ad9c;
  --kred-color: #ff645d;
  --kred-dark-color: #e65953;
  --kyellow-color: #ffba54;
  --kyellow-dark-color: #fdb74d;
  --kpruple-color: #8c77f1;
  --kpruple-dark-color: #826cf6;
  --kblue-color: #2da2d6;
  --kblue-dark-color: #0489c4;
  --kblack-color: #1b1c1f;
  --kwhite-color: #fff;
  --kgray-100-color: #fdfdfd;
  --kgray-200-color: #fafafa;
  --kgray-300-color: #efefef;
  --kgray-400-color: #e0e0e0;
  --kgray-500-color: #bbbaba;
  --kgray-600-color: #969696;
  --kgray-700-color: #686868;
  --kgray-800-color: #3e3e3e;
  --kgray-900-color: #101010;

  // backgrounds
  --background-color: #f8f8f8;
  --foreground-color: #4b4a53;
  --header-background-color: #fff;
  --overlay-background-color: #e5e6eb;
  --dropdown-info-background-color: #e0e0e0;

  // buttons
  --btn-default-background-color: #efefef;
  --btn-default-background-hover-color: #e0e0e0;
  --btn-default-forground-color: #686868;

  // side menu
  --sidemenu-background-color: #fff;
  --sidemenu-expend-background-color: #fdfdfd;
  --sidemenu-hover-background-color: #efefef;
  --sidemenu-active-border-color: #f07f18;
  --sidemenu-expend-seperator-color: #e0e0e0;
  --sidemenu-expend-right-border-color: #bbbaba;
  --sidemenu-icon-color: #244563;
  --sidemenu--active-icon-color: #1e3a53;

  // inputs
  --input-placeholder-color: #999797;
  --input-border-color: #bbbaba;
  --input-focus-border-color: #959595;
  --input-label-color: #67758d;
  --input-sub-label-color: #67758d;
  --input-text-color: #67758d;
  --input-background-color: #fafafa;
  --input-dropdown-background-color: #fafafa;
  --input-hover-background-color: #efefef;
  --input-value-color: #3e3e3e;

  // seperators
  --hr-color: #cbcbcb;
  --vertical-seperator-color: #cbcbcb;
  --horizontal-seperator-color: #cbcbcb;

  // borders
  --default-border-color: #eceff1;
  --border-color: #eceff1;

  // icons
  --icon-color: #999797;
  --icon-active-color: #3e3e3e;

  // texts
  --title-color: #3e3e3e;
  --sub-title-color: #686868;
  --description-color: #686868;

  // boxes
  --box-background-color: #fefefe;
  --box-shadow-color: rgba(0, 0, 0, 0);
  --box-border-radius-size: 7px;
  --box-border-color: #ebeef0;

  // data-holder
  --table-header-background-color: #efefef;
  --table-header-forground-color: #424242;
  --table-row-background-color: #fefefe;
  --table-row-hover-background-color: #fafafa;
  --table-row-forground-color: #424242;
  --table-footer-background-color: transparent;
  --table-odd-background-color: #fafafa;
  --table-even-background-color: #fff;
  --table-modal-background-color: #efefef;

  // scrollbar
  --scrollbar-track-color: #c0c0c0;
  --scrollbar-thumb-color: #7c7c7c;

  // select-box
  --selectbox-background-color: #ffffff;

  // dropdown
  --dropdown-background-color: #fff;
  --dropdown-border-color: #e0e0e0;
  --dropdown-triangle-color: #fff;
  --select-dropdown-background-color: #fafafa;
  // datepicker
  --datepicker-background-color: #fff;

  // shimmer
  --shimmer-bg-color: #f2f2f2;
  // loader components

  $shimmer-color-1: #eee;
  $shimmer-color-2: #ececec;

  .loader-box {
    position: relative;
    display: block;

    .loader-img {
    }

    .loader-animation {
      min-width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute !important;
      top: 0;
      right: 0;
      left: 0;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeholderShimmer;
      animation-timing-function: linear;
      background: var(--shimmer-bg-color);
      background-image: -webkit-gradient(
        linear,
        100% 0,
        0 0,
        from(rgba($shimmer-color-2, 0.3)),
        color-stop(0.3, rgba($shimmer-color-1, 0.5)),
        to(rgba($shimmer-color-2, 0.3))
      );
      //background-image: linear-gradient(65deg ,rgba($gray, .2) 0%, rgba($white, .4) 20%, rgba($gray, .2) 100%);
      background-repeat: no-repeat;
      background-size: 100%;
    }

    @keyframes placeholderShimmer {
      0% {
        background-position: -2000px 0;
      }
      100% {
        background-position: 2000px 0;
      }
    }
  }

  .empty-placeholder-image {
  }
  .empty-placeholder-title {
  }
  .empty-placeholder-description {
    margin-top: -8px;
  }
}
