.localization-ltr {
  --app-direction: ltr;
  --app-text-direction: left;
  --font-family: dana;

  

  // input[type=radio] + label span{
  //   margin-right: 8px;
  // }

  // .tag-list{

  //   li{
  //     margin-right: 5px;
  //   }

  // }
  // .table-row {
  //   border-left: 3px solid transparent;
  // }
}
