.localization-rtl {
  --app-direction: rtl;
  --app-text-direction: right;


  &.fa_IR{
    --font-family: 'dana-fa';
  }

  &.ku_IQ{
    --font-family: 'yekan-ku';
  }

  // input[type=radio] + label span{
  //   margin-left: 8px;
  // }

  // .tag-list{

  //   li{
  //     margin-left: 5px;
  //   }

  // }
  // .table-row {
  //   border-right: 3px solid transparent;
  // }

}
